extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="/completetasks", method="post")
    table
      thead
        tr
          th Name
          th Category
          th Date
          th Complete
      tbody
      each task in tasks
        tr
          td= task.itemName
          td= task.itemCategory
          td= task.itemDate.toDateString()
          td
            input(type="checkbox", name="completed[#{task._id}]", value="#{!task.itemCompleted}", checked=task.itemCompleted)
    input(type="submit", value="Update tasks")
  hr
  form(action="/addtask", method="post")
    table
      tr
        td Item Name:
        td
          input(name="item[name]", type="textbox")
      tr
        td Item Category:
        td
          input(name="item[category]", type="textbox")
    input(type="submit", value="Add item")

  a#ribbon(href="https://bitbucket.org/jliberman/leebo-node")
    img(src="//bitbucket.org/zgramana/bitbucket-ribbons/raw/988dffc5fbeb/png/bitbucket-ribbon-black.png")
