body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a#ribbon {
  position:absolute;
  z-index:10000;
  top:0;
  right:0;  
}
